a:link {
    color: #005c74;
}

a:visited {
    color: #005c74;
}

a:hover {
    color: #00bcd4;
}

a:active {
    color: #006600;
}

.breakInput{
  width:100px
}

.App {
  text-align: center;
  font-size:11px;
}

.dataTable{
  width: 100%;
  background-color: #fafafa;
}

.dateRange {
  margin-right:15px;
}

.dateTimePicker{
  margin-top:15px
}

.formInput{
  text-align:left;
}

.formLabel{
  margin-top:20px;
  vertical-align:top;
  display:inline-block;
  text-align:right;
  padding-right:10px;
  font-size:12px;
  color: #cccccc;
  width:100px
}

.functionButton {
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
}

h2 {
  font-weight:bold;
  font-size:16px;
  letter-spacing: 4px;
}

.labledFormRow{
 height: 40px;
 margin:right;
}

.message {
  border-style: solid; border-width:1px; border-radius:12px;
  font-size:18px;
  width:400px;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  padding: 10px;
  background-color:#e2f2f2;
  color: #cccccc;
}

.shift {
  display:inline-block;
  text-align:right;
  padding-right:10px;
  max-width: 80%
}

.shiftContainer{
  text-align:left;
  border-style: solid; border-width:1px; border-radius:3px;
  background-color: #eef8ff;
  margin-top:10px;
}

.shiftDetailButton {
  vertical-align:top;
  margin-right:20px;
  padding:2px;
  font-size:10px;
}

.shiftEditor {
  border-style: solid; border-width:1px; border-radius:3px; border-color:#0066ff;background-color: #eeffff;
}

td {
  font-weight: unset;
  padding-right: 10px;
}

th {
  font-weight: bold;
  padding-right: 10px;
  background-color: #e2f2f2;
}

.userDropdown{
 height:20px;
 margin-left:-20px;
}

.userInfoLink{
  text-decoration:underline;
  color: '#99eeff';
  cursor:pointer;
}

.weeklySummary{
 width:80%;
 margin:auto;
}
